@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Message>

@{
    ViewBag.Title = "View";
}
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<h2>View</h2>

<p></p>
