@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.DefaultView, new { @class = "col-md-2 control-label" })
        </div>
        @Html.DropDownListFor(
            m => Model.DefaultView,
            new SelectList(new[]
            {
                new { Value = "Index", Text = "Index" },
                new { Value = "Additem", Text = "Add Item" },
            }, "Value", "Text", Model.DefaultView),
            new { @class = "form-control" }
        )
    </div>
</fieldset>
